name: CI
on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        java:
          - '8'
          - '11'
          - '21'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up JVM
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'sbt'
      - uses: sbt/setup-sbt@v1
      - run:
          # for git tests
          git config --global user.email "scalafmt@scalameta.org" && git config --global user.name "scalafmt"
      - run: sbt "+ plugin/scripted"

  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'sbt'
      - run: ./bin/scalafmt --test
